# Auto detect text files and perform LF normalization
* text=auto

# Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false

# Compressed CSS Directory
public/css/** linguist-vendored

_layouts/*.xml linguist-language=HTML
