/* CSS for the content Pages */
.content {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: center;
    gap: 17px;
    align-items: stretch;
}

.content .content-header {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .content-header a {
    color: white;
}

.content .content-header a:hover {
    font-style: italic;
    color: #3dff0c;
}

.content .content-window {
    width: 70%;
    padding: 1.6rem 4rem;
}

.content .content-window p {
    font-size: 1.1rem;
    line-height: 2rem;
}

.content .content-window p:hover {
    font-style: italic;
    font-weight: bold;
    color: #3dff0c;
}
