/* CSS Code for the 404 Page */
.container404 {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
    color: #ffffff;
    font-family: 'Fira Code', monospace;
}

.container404 h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
}

.container404 a {
    text-decoration: none;
    color: #ffffff;
    padding: 0rem 0.3rem;
}

.container404 a:hover {
    text-decoration: underline;
    font-weight: bold;
    transition:
        transform 1s ease,
        background-color 1s ease;
}
