/* CSS for the Blog Post Pages */
.post-header {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.post-box {
    padding-bottom: 4rem;
}

.post-box a {}

.post-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 0.95rem;
}

.post-box th,
.post-box td {
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem;
    text-align: left;
}

.post-box th {
    font-weight: bold;
}

.post-box .blog-table {}

.post-box img {
    height: auto;
    display: block;
}

.img-50 {
    max-width: 50%;
}

.post {
    /*background-color: #242424;*/
    padding: 2rem;
    border-radius: 25px;
}

.post p {
    padding: 0.3rem 0rem;
    line-height: 1.7rem;
    font-size: 1rem;
}

.post hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.post h1 {
    font-size: 3rem;
    margin-top: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.post h2 {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.post h3 {
    font-size: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.post h4 {
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

/* .post pre {
    background-color: #1f1f1f;
    color: #3dff0c;
    padding: 1rem;
    border-radius: 15px;
    line-height: 1.2rem;
    overflow-x: auto;
    white-space: pre;
    max-width: 100%;
} */

.post code {
    background-color: #1f1f1f;
    padding: 0.27rem;
    color: #3dff0c;
}

.post pre code {
    color: white;
}

.post a {
    font-size: 1.1rem;
    color: white;
}

.post a:hover {
    font-weight: bold;
    font-style: italic;
    color: #3dff0c;
}

.post ul li {
    margin-left: 2rem;
    line-height: 1.3rem;
    padding: 0.2rem 0rem;
}

.post ol li {
    margin-left: 3.5rem;
    line-height: 1.3rem;
    padding: 0.2rem 0rem;
}

/* .post p br {
    line-height: 2;
    padding-bottom: 10rem;
} */
