/* CSS for the Redirection Page */
.redirection {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Fira Code', monospace;
    gap: 20px;
}
