@import "tailwindcss";

:root {
    --bg-color: #1e1e1e;
    --box-bg-color: #000000;

    --link-box-color: rgb(40, 203, 22);
    --link-box-color-hover: rgb(209, 255, 204);
    --link-color: black;

    --project-box-color: #122d27;
    --project-h2-color: rgb(50, 255, 156);
    --project-p-color: rgb(203, 255, 230);

    --h3-color: #00ffc3;

    --settings-inner-box-component: var(--link-box-color);
    --settings-inner-box-component-h: var(--link-box-color-hover);
    --settings-inner: var(--link-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

main {
    display: flex;
    flex-direction: row;
    margin: 1.2rem;
}

/* Index Page */

.d4r-box {
    background: var(--box-bg-color);
    color: #e0e0e0;
    font-family: 'Fira Code', monospace;
    padding: 1.5rem;
    margin: 0.7rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 95%;
    word-wrap: none;
    word-break: normal;
    display: flex;
    flex-direction: column;
}

.d4r-box h1 {
    color: #a8ffeb;
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.d4r-box h2 {
    color: #64ffda;
    font-size: 1.6rem;
}

.d4r-box h3 {
    color: var(--h3-color);
    font-size: 1.3rem;
}

.d4r-box p {
    font-size: 1.1rem;
}

.d4r-box a {
    color: #26c6da;
    text-decoration: none;
}

.d4r-box img {
    border-radius: 60px;
    height: 11rem;
    width: fit-content;
    align-self: center;
}

.d4r-text-box p {
    margin: 0 0.9rem;
}

.d4r-text-box b {
    color: #36f93c
}

@media (max-width: 748px) {
    main {
        flex-direction: column;
        margin: 0rem;
    }

    .d4r-top {
        width: 100%;
    }

    .d4r-box {
        width: 96%;
        margin: 1.5% 2%;
        padding: 1rem;
    }
}
