/* For Links */
.link {
    padding: 0.5rem;
    background-color: var(--link-box-color);
    border-radius: 30px;
    margin: 0.4rem;
    text-align: center;
    font-size: 1.3rem;
    transition:
        transform 0.5s ease,
        background-color 0.5s ease;
    color: var(--link-color);
    text-decoration: underline;
    font-weight: bold;
}

.link:hover {
    background-color: var(--link-box-color-hover);
}

.d4r-box .secret-title p {
    font-size: 1.6rem;
}

/* For Projects and Downloads inside the main page! */
.project {
    background-color: var(--project-box-color);
    border-radius: 30px;
    padding: 0.8rem 1.1rem;
    margin: 0.6rem;
}

.project h2 {
    color: var(--project-h2-color);
    font-weight: bold;
}

.project p {
    color: var(--project-p-color);
    font-weight: bold;
}

.project a {
    text-decoration: underline;
    font-weight: bold;
}
