---
import "../../styles/links.css";
import { b, all_links, link_sort } from "../../consts";
---

<!-- Links -->
{Object.keys(link_sort).map((categoryKey) => {
        if (categoryKey === "startpage") {
            const categoryIds = link_sort[categoryKey];

            const filteredLinks = all_links.filter((item) =>
                categoryIds.includes(item.id)
            );
            return filteredLinks.map((item) => (
                <a
                    href={item.link}
                    target={item.blanc ? "_blank" : "_self"}
                    rel="noopener noreferrer"
                >
                    <div class="link">{item.name}</div>
                </a>
            ));
        }
    })
}
