<!-- List of my Recent Projects -->

<div class="project">
    <h2 class="text-center">Repo Database Creator</h2>
    <p>
        View and fetch Data from a Github User and transform this Data into very nics SVG Graphics or a plaintext table/json with different search functions!
    </p>
    <br>
    <p>Link: <a target="_blank" href="https://github.com/ShadowDara/repo-database-creator">Repo Database Creator</a></p>
</div>

<div class="project">
    <h2 class="text-center">open-cmd-on-Hotkey</h2>
    <p>
        a little Autohotkey script to open `cmd.exe` in the same folder as the windows explorer when the explorer is the foreground while pressing `win + t`
    </p>
    <br>
    <p>Link: <a target="_blank" href="https://github.com/ShadowDara/open-cmd-on-Hotkey">Open CMD on Hotkey</a></p>
</div>

<div class="project">
    <h2 class="text-center">Portfolio Webpage</h2>
    <p>
        This website whichs shows some information about me and my projects! Made with Astro framework.
    </p>
</div>
