<!-- Skills Content List -->
<div class="flex flex-row flex-wrap gap-3">

    <!-- Javascript -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
            alt="Javascript Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Javascript
        </span>
    </div>

    <!-- Typescript -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
            alt="Typescript Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Typescript
        </span>
    </div>

    <!-- Python -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
            alt="Python Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Python
        </span>
    </div>

    <!-- Rust -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/refs/heads/master/src/images/icons/ProgrammingLanguages/rust.svg"
            alt="Rust Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Rust
        </span>
    </div>

    <!-- React -->

    <!-- Astro -->

    <!-- Nextjs -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://cdn.worldvectorlogo.com/logos/nextjs-2.svg"
            alt="Nextjs Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Nextjs
        </span>
    </div>

    <!-- Tauri -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://avatars.githubusercontent.com/u/54536011"
            alt="Tauri Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Tauri
        </span>
    </div>

    <!-- Godot -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://private-user-images.githubusercontent.com/171681721/343248463-e18fcc3c-b678-4c73-b48c-a5f82177ab05.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NDkyODg2NTUsIm5iZiI6MTc0OTI4ODM1NSwicGF0aCI6Ii8xNzE2ODE3MjEvMzQzMjQ4NDYzLWUxOGZjYzNjLWI2NzgtNGM3My1iNDhjLWE1ZjgyMTc3YWIwNS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwNjA3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDYwN1QwOTI1NTVaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1iODZkYWUyYmQ3YjM3YWRhZjBmNDMxNTI0YmFmM2ExYjdlYTYxYzE2MDFkNjEyYzA3YzhiYmRjNjFmYWQyNTNlJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.YZ5po5ftc3Sy2CFuWBHhGlrqUZNMAazmvru4tNgngvM"
            alt="Godot Engine Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Godot Engine
        </span>
    </div>

    <!-- Flutter -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://www.vectorlogo.zone/logos/flutterio/flutterio-icon.svg"
            alt="Flutter Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Flutter
        </span>
    </div>

    <!--
    WEB, html, css ...
    Vue
    Astro
    React
    -->    
</div>
