<!-- Skills Content List -->
<div class="flex flex-row flex-wrap gap-3">

    <!-- Javascript -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
            alt="Javascript Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Javascript
        </span>
    </div>

    <!-- Typescript -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
            alt="Typescript Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Typescript
        </span>
    </div>

    <!-- Python -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg"
            alt="Python Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Python
        </span>
    </div>

    <!-- Rust -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/rahuldkjain/github-profile-readme-generator/refs/heads/master/src/images/icons/ProgrammingLanguages/rust.svg"
            alt="Rust Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Rust
        </span>
    </div>

    <!-- React -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg"
            alt="React Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            React
        </span>
    </div>

    <!-- Astro -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://i.imgur.com/l2Uo99e.png"
            alt="Astro Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Astro
        </span>
    </div>

    <!-- Nextjs -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://cdn.worldvectorlogo.com/logos/nextjs-2.svg"
            alt="Nextjs Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Nextjs
        </span>
    </div>

    <!-- Tauri -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://avatars.githubusercontent.com/u/54536011"
            alt="Tauri Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Tauri
        </span>
    </div>

    <!-- Godot -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://i.imgur.com/7fpOVuo.png"
            alt="Godot Engine Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Godot Engine
        </span>
    </div>

    <!-- Flutter -->
    <div class="skills flex flex-row justify-center-safe gap-4 flex-1 min-w-fit">
        <!-- Skill Icon -->
        <img
            src="https://www.vectorlogo.zone/logos/flutterio/flutterio-icon.svg"
            alt="Flutter Logo"
        />

        <!-- Skill Text -->
        <span class="self-center">
            Flutter
        </span>
    </div>

    <!--
    WEB, html, css ...
    Vue
    Astro
    React
    -->    
</div>
