body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;

    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;


    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
    position: relative;
    min-height: 60px;
    width: 100% auto;
    padding: 5px 0;
    width: 100%
}

main {
    flex: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff9800;
}

.nav ul {
    list-style-type: none;
    padding: 20px;
}

.nav ul li {
    padding: 10%;
}

.nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: #ff9800;
}

footer {
    background-color: black;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 10px;
}

footer a {
    color: #ff9800;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

img {
    width: 450px;
    height: auto;
}

.center-flex {
    text-align: center;
}

.center-absolute {
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(50% auto);
}

.this {
    color: #ff00bb;
}

@media (max-width:768px) {
    .center-absolute{
        width: 100%;
    }
}

@media (max-width:480px) {
    .center-absolute{
        width: 100%;
    }
}
