---
import Layout from "../layouts/Layout.astro";
import Links from "../components/mainpage/Links.astro";
import About_me from "../components/About_me.astro";
import Projects from "../components/mainpage/Projects.astro";
import Downloads from "../components/mainpage/Downloads.astro";
import Settings from "../components/mainpage/Settings.astro";
import Skills from "../components/mainpage/Skills.astro";
import { p, b } from "../consts";
---

<Layout title={p.SITE_TITLE} description={p.SITE_DESCRIPTION}>
    <main class="justify-center">
        <!-- Column 1 -->
        <div class="flex flex-col aaaaaa d4r-top">
            <!-- Dara Picture -->
            <!--
            Discord pfp
            https://cdn.discordapp.com/avatars/843919195187183637/5823bcb2a54d518faf6e1bd3c1cee36e.webp?size=256
            -->
            <div class="d4r-box">
                <img
                    id="dara"
                    src=`${b}/assets/dara_v4.png`
                    fetchpriority="high"
                />
            </div>

            <!-- Name and connections -->
            <div class="d4r-box">
                <h1 class="text-center">Shadowdara</h1>
                <p class="text-center">Hi :3, i am Shadowdara</p>
            </div>

            <!-- More -->
            <Settings />

            <!-- Links -->
            <div class="d4r-box">
                <h1 class="text-center">Links</h1>
                <Links />
            </div>

            <!-- Skills -->
            <div class="d4r-box">
                <h1 class="text-center">Skills</h1>
                <div class="flex flex-col gap-5">
                    <Skills />
                    <!-- Explanation, Subtext -->
                    <!--
                    <div class="">
                        <p class="italic">
                            Click on one of these ICONS for more information ;)
                        </p>
                    </div>
                    -->
                </div>
            </div>

            <!-- Last Updated -->
            <div class="d4r-box">
                <p class="text-center italic text-(--link-box-color)">
                    Last Updated: 07.06.2025
                </p>
            </div>
        </div>

        <!-- Column 2 -->
        <div class="flex flex-1 flex-col d4r-top">
            <!-- About me Story -->
            <div class="d4r-box d4r-text-box">
                <h1 class="text-center">About Me</h1>
                <About_me />
            </div>

            <!-- Projects and Stuff -->
            <div class="d4r-box">
                <h1 class="text-center">Recent Projects</h1>
                <Projects />
            </div>

            <!-- Downloads -->
            <!-- -->
            <div class="d4r-box">
                <h1 class="text-center">Recent Downloads</h1>
                <Downloads />
            </div>

            <!-- Blog -->
            <!--
            <div class="d4r-box">
                <h1 class="text-center">Blog</h1>
            </div>
            -->

            <!-- Webpages -->
            <!--
            <div class="d4r-box">
                <h1 class="text-center">Recent Webpages</h1>
            </div>
            -->
        </div>
    </main>
</Layout>

<style>
    .aaaaaa {
        width: 35%;
    }

    @media (max-width: 748px) {
        .aaaaaa {
            width: 100%;
        }
    }
</style>
