---
import Layout from "../layouts/Layout.astro";
import { p, b } from "../consts";
import "./../styles/pages.css"
---

<Layout title={p.SITE_TITLE} description={p.SITE_DESCRIPTION}>
    <main class="justify-center">
        <div class="d4r-box">
            <h1 class="text-center">My Wepages</h1>

            <!-- Watch free -->
             <div class="download">
                <h2
                    class="text-center"
                >
                    <a href="https://watchnexoknights.vercel.app/" target="_blank">
                        Watch free!
                    </a>
                </h2>
                <p class="text-center">
                    a website which provides free legal links and inforation to watch series!
                </p>
            </div>

            <!-- Upptime -->
            <div class="download">
                <h2
                    class="text-center"
                >
                    <a href="https://shadowdara.github.io/upptime/" target="_blank">
                        Upptime Monitor
                    </a>
                </h2>
                <p class="text-center">
                    a website to track the response time and their outages!
                </p>
            </div>

            <div>
                <h1 class="text-center">
                    <a href=`${b}/`>Home</a>
                    ·
                    <a href=`${b}/blog/`>Blog</a>
                </h1>
            </div>
        </div>
    </main>
</Layout>
