body {
    margin: 0;
    padding: 0;
    background-color: #1e1e2f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: #e74c3c;
}

h4 {
    margin: 10px 0;
    font-style: italic;
    color: #bdc3c7;
}

a {
    margin-top: 20px;
    color: #4A90E2;
    text-decoration: none;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #ecf0f1;
    font-size: 1rem;
}

input {
    background-color: #575775;
    color: #ecf0f1;
    font-size: 1rem;
}

button {
    border: none;
    background-color: #575775;
    color: #ecf0f1;
    font-size: 1.3rem;
    padding: 13px 13px;
    border-radius: 15px;
}

button:hover {
    background-color: #2f2f3f;
}
