<p>
    I'm a dedicated programmer and developer whose self-initiated journey began at 15 with <b>Minecraft modding and datapacks</b>. This foundational experience propelled me into the world of <b>Python</b>, where I developed a keen eye for efficiency, building scripts and programs for automation and streamlined processes. My skillset is further rounded out by significant experience in <b>website design</b>, where I've successfully applied <b>HTML, Astro, Python, and TypeScript</b> to create visually appealing and robust web solutions.
    <br>
    <br>
    Currently, I'm expanding my horizons by diving into new technologies. I'm actively learning <b>Flutter</b> to build cross-platform applications, and I'm also exploring the exciting realms of <b>Game development</b>. This allows me to constantly broaden my skillset and tackle diverse development challenges, always seeking the most effective and scalable solutions.
</p>
