<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3; url={{ page.this_url }}">

    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/color.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/layouts/redirection.css' | relative_url }}">

    <title>{{ page.title }}</title>

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
</head>

<body>
    <div class="redirection">
        <h1>Redirection</h1>
        <p>You should have been redirected to <b>{{ page.this_url }} in 3 seconds</b>!</p>
        <p>Click <a href="{{ page.this_url }}">here</a>, if this did not work!</p>
    </div>
</body>

</html>