---
layout: content
title: "Blog"
header: "Blog"
permalink: /blog
---
<div class="d4r-box blog-col">
    <h1>Blog</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Post Tag</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for post in site.posts %}
            <tr>
                <!-- Blog Title -->
                <td>
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title }}
                    </a>
                </td>

                <!-- Blog Tag-->
                <td class="blogtag">
                    {% if post.tag %}
                    {{ post.tag }}
                    {% endif %}
                </td>

                <!-- Blog Date -->
                <td class="blogdate">
                    {{ post.date | date: "%d.%m.%Y" }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>