<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="title" content="{{ page.title }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">

    <!--<link rel="icon" href="https://avatars.githubusercontent.com/u/128976697?v=4">-->

    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/color.css' | relative_url }}">

    <title>{{ page.title }}</title>
</head>

<body>
    <footer class="db-big post-header">
        {% include footer.html %}
    </footer>
    <main class="db-big post-box">
        <div class="d4r-box post">
            {{ content }}
        </div>
    </main>
</body>

</html>
