---
import "../styles/blog_index.css";
import BaseHead from "../components/BaseHead.astro";
import { p } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={p.SITE_TITLE_blog}
            description={p.SITE_DESCRIPTION_blog}
        />
    </head>
    <body>
        <slot />
    </body>
</html>
